<div class="card">
 <%= render partial: "shared/user_card", locals: { user: @user } %>
</div>

<div class="user_bio">
  <div class="user_bio_title">User Bio</div>
  <p class="user_info"><%= @user.bio %></p>
</div>

<%= @count=0 %>

<div class="user_posts">
  <%= @user.recent_posts.each do |post| %>
    <div class="post_card">
      <div class="post_count">Posts<%= @count+=1%></div>
      <%= render partial: "shared/post_card", locals: { post: post }%>
      <%= render partial: "shared/like", locals: { user: @user, post: post }%>
    </div>
  <% end %>
</div>

<div class="btn_post">
  <button>
    <%= link_to "See all posts", user_posts_path(@user) %>
  </button>
  <button>
    <%= link_to "Add new post", user_posts_path(@user) %>
  </button>
</div>
