<h1 class="user_post">User posts</h1>

<div class="post_card">
  <div class="post">
    <div class="post_top">
      <h3 class="post_title">Post <%= @post.id %> by <%= @user.name %> </h3>
      <label class="post_counters">Comments:<%= @post.comments_count %> Likes:<%= @post.likes_count %> </label>
    </div>
    <p><%= @post.text %></p>
  </div>

  <div class="comments">
  <% @comments.each do |comment| %>
    <%= render partial: "shared/user_comment", locals: { comment: comment } %>
  <% end %>
  </div>
  <%= button_to link_to "New-Comment", new_user_post_comment_path(@user.id, @post.id) %>
  <%= button_to "Add-Likes", user_post_likes_path(@user, @post), params: { like: { author_id: @user.id, post_id: @post.id}}%>
</div>
